<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Chef List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    
</head>

<body>
    <h1>Chef List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Origin</th>
        </tr>
        <tr th:each="chef : ${chefs}">
            <td th:text="${chef.id}"></td>
            <td th:text="${chef.name}"></td>
            <td th:text="${chef.asal}"></td>
        </tr>
    </table>
</body>

</html>